# /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log stdout format raw local0
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          35s
    timeout server          35s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# apiserver frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend apiserver
    bind *:{{ apiserver_dest_port }}
    mode tcp
    option tcplog
    default_backend apiserverbackend

#---------------------------------------------------------------------
# round robin balancing for apiserver
#---------------------------------------------------------------------
backend apiserverbackend
    option httpchk

    http-check connect ssl
    http-check send meth GET uri /healthz
    http-check expect status 200

    mode tcp
    balance     roundrobin
#Add additional lines for each control plane apiserver node
    server {{ haproxy_apiserver_node_1_name }} {{ haproxy_apiserver_node_1_ip }}:{{ apiserver_src_port }} check verify none
    server {{ haproxy_apiserver_node_2_name }} {{ haproxy_apiserver_node_2_ip }}:{{ apiserver_src_port }} check verify none
    server {{ haproxy_apiserver_node_3_name }} {{ haproxy_apiserver_node_3_ip }}:{{ apiserver_src_port }} check verify none
    # [...]

